.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

.search-form input[type='text'] {
  margin-left: 300;
  margin-right: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ebe4e9;
  border-radius: 5px;
}

.search-form button,
.load-more {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e62b98;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
  .card-list {
    display: flex;
    gap: 20;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card-list img {
    width: 300;
    height: auto;
  }
  
  .card-list .params-list {
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  .card-list .info-item {
    margin: 0;
    font-size: 14px;
  }